*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
::selection{
    background-color: black;
    color: white;
}
/* banner section */
.container{
    width: 100%;
    height: 100vh;
    background-image: url(bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    justify-content: left;
    align-content: center;
    background-attachment: fixed;
}
.content{
    margin: 0 120px;
    width: 450px;
}   
h2{
    font-size: 36px;
}
h1{
    font-size: 50px;
}
button{
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 60px;
    margin: 20px 0;
}
button:hover{
    background: transparent;
    color: black;
    transition: 1s;
    border: 1px solid black;
}

/* section 2 */
.container2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content2{
    width: 83%;
}
h3{
    font-size: 36px;
    margin-right: 10px;
}
p{
    font-size: 20px;
    margin-left: 15px;
    text-indent: 10px;
}
a{
    text-decoration: none;
    color: rgb(167, 0, 167);
}
a:hover{
    color: black;
}

/* section 3 */
.container3{
    width: 100%;
    height: 130px;
    background-color: #FAC769;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
}
.content3{
    position: absolute;
    top: 35%;
    left: 17.5%;   
     color: white;
}
b{
    font-size: 35px;
}
/* section 4 */

.container4{
    width: 100%;
    height: 600px;    
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.content4{
    width: 83%;
}
.row{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 30px;

}
img{
    width: 100%;
    height: 65%;
            
}
.card1{
    width: 30%;
    height: 350px;
    background-color: #FAC769;
    position: relative;
}    
.cardhead{
    position: absolute;
    top: 26px;
    left: 20px;
    background: #FAC769;
    width: 120px;
    height: 45px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.cardtext{
    text-align: center;
    margin-top: 10px;
}

/* section 5 */
.container5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}
.content5 img{
    width: 23%;
}
.content5 img:hover{
    transform: scale(1.1);
}
.content5{
    width: 83%;
}
.row2{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}
/* section 6 */

.container6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 165px;
    background-color: #FAC769;
    margin-top: 50px;
    position: relative;
}
.content6{
    width: 65%;
}
/* section 7 */
.container7{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.content7{
    width: 60%;  
}
/* section 8 */
.container8{
    width: 100%;
}
.content8{
    text-align: center;
}